.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.titlebar {
  display: flex;
  padding: 2rem 3.5rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.title {
  flex: 1 0 0;
  color: var(--Neutral-900, #3D3D3D);
  font-size: 7rem;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.14rem;
}

.content {
  display: flex;
  padding: 4rem 4rem;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  align-self: stretch;
}

.casestudies {
  display: flex;
  width: 68rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.casestudy1, 
.casestudy2, 
.casestudy3 {
  display: flex;
  height: 32rem;
  overflow: hidden;
  align-items: center;
  align-self: stretch;
  border-radius: 2rem;
  background: var(--Neutral-0, #FFF);
} 

.casestudy1 {
  box-shadow: 0px 4px 16px 0px rgba(52, 103, 67, 0.15), 0px 0px 8px 0px rgba(52, 103, 67, 0.15);
}

.casestudy2 {
  box-shadow: 0px 4px 16px 0px rgba(93, 110, 165, 0.15), 0px 0px 8px 0px rgba(93, 110, 165, 0.15);
}

.casestudy3 {
  box-shadow: 0px 4px 16px 0px rgba(150, 99, 150, 0.15), 0px 0px 8px 0px rgba(150, 99, 150, 0.15);
}

.casestudystub1,
.casestudystub2,
.casestudystub3 {
  display: flex;
  width: 22.5rem;
  height: 32rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--Neutral-0, #FFF);
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.05);
  order: 1;
}

.casestudystub1 {
  padding: 1rem 1.5rem;
}

.casestudystub2 {
  padding: 1rem 2rem;
}

.casestudystub3 {
  padding: 1rem 1.5rem;
}

.casestudystubtext {
  color: var(--Neutral-700, #4F4F4F);
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.05rem;
}

.casestudycontent1,
.casestudycontent2,
.casestudycontent3 {
  display: flex;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  order: 2;
}

.casestudycontent1 {
  background: var(--Accent-Surf, #95C09F);
}

.casestudycontent2 {
  background: var(--Accent-Sky, #BBCFE6);
}

.casestudycontent3 {
  background: var(--Accent-Thistle, #DFC7E0);
}

.casestudyimage1 {
  width: 570px;
}

.casestudyimage2 {
  width: 540px;
}

.casestudyimage3 {
  width: 728px;
}

.aboutme {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.aboutmecontent {
  display: flex;
  width: 28.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.aboutmetitle {
  color: var(--Neutral-700, #4F4F4F);
  font-size: 1.25rem;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.025rem;
  align-self: stretch;
  font-weight: 400;
}

.aboutmetext {
  color: var(--Neutral-700, #4F4F4F);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.025rem;
}

.aboutmeimage {
  width: 28.5rem;
}

.skills {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.skillstitle {
  align-self: stretch;
  color: var(--Neutral-700, #4F4F4F);
  font-size: 3rem;
  font-weight: 300;
  line-height: 140%;
}

.skillsrow {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.skillssection {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
}

.skillssectiontitle {
  align-self: stretch;
  color: var(--Neutral-800, #454545);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 140%;
}

.skillssectiontext {
  align-self: stretch;
  color: var(--Neutral-600, #5D5D5D);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 140%;
}

.footer {
  display: flex;
  padding: 7rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--Neutral-100, #E7E7E7);
}

.footercontent {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.footertitle {
  color: var(--Neutral-900, #3D3D3D);
  font-size: 5.25rem;
  font-weight: 300;
  letter-spacing: -0.105rem;
}

.footerdetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footertextstrong {
  color: var(--Neutral-800, #454545);
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

.footertext {
  color: var(--Neutral-600, #5D5D5D);
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
}

/* Mobile */
@media (max-width: 1200px) {
  .titlebar {
    padding: 1rem 1.75rem;
  }

  .title {
    font-size: 2rem;
    letter-spacing: -0.04rem;
  }

  .content {
    padding: 1rem 1.5rem;
    gap: 6rem;
  }

  .casestudies {
    gap: 2rem;
    width: 100%;
    max-width: 24rem;
  }

  .casestudy1,
  .casestudy2,
  .casestudy3 {
    height: 21.5rem;
    flex-direction: column;
  }

  .casestudystub1,
  .casestudystub2,
  .casestudystub3 {
    height: 7rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem 5rem;
    order: 2;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .casestudystub1 {
    padding: 1rem 2rem;
  }

  .casestudystub2 {
    padding: 1rem 5rem;
  }

  .casestudystub3 {
    padding: 1rem 3rem;
  }

  .casestudystubtext {
    text-align: center;
    font-size: 1.5rem;
  }

  .casestudycontent1,
  .casestudycontent2,
  .casestudycontent3 {
    order: 1;
    height: 66.7%
  }

  .casestudyimage1 {
    width: 285px;
  }
  
  .casestudyimage2 {
    width: 270px;
  }
  
  .casestudyimage3 {
    width: 340px;
  }

  .aboutme {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    max-width: 22rem;
  }

  .aboutmecontent {
    gap: 0.75rem;
    width: 100%;
    max-width: 42rem;
  }

  .aboutmetitle {
    font-size: 1rem;
  }

  .aboutmetext {
    font-size: 1rem;
  }

  .aboutmeimage {
    width: 100%;
  }

  .skills {
    padding-bottom: 4rem;
    gap: 1rem;
  }

  .skillstitle {
    font-size: 1.5rem;
  }

  .skillsrow {
    flex-direction: column;
    gap: 1rem;
  }

  .skillssection {
    width: 100%;
    max-width: 24rem;
  }

  .skillssectiontitle {
    font-size: 0.875rem;
  }

  .skillssectiontext {
    font-size: 0.875rem;
  }

  .footer {
    padding: 2rem 0rem;
  }

  .footercontent {
    padding: 0rem 2rem;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: flex-start;
  }

  .footertitle {
    font-size: 2rem;
  }

  .footertextstrong {
    font-size: 0.875rem;
  }

  .footertext {
    font-size: 0.875rem;
  }

}