.mockup {
    display: flex;
    width: 100%;
    height: 39rem;
    justify-content: center;
    align-items: flex-start;
    background: var(--Accent-Thistle, #DFC7E0);
    box-shadow: 0px 4px 16px 0px rgba(150, 99, 150, 0.16), 0px 0px 8px 0px rgba(150, 99, 150, 0.15);
}

.processstepimagecontainer1,
.processstepimagecontainer2,
.processstepimagecontainer3 {
    position: relative;
    width: 32.5rem;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
}

.processstepimagecontainer1,
.processstepimagecontainer3 {
    border: 1px solid var(--Neutral-600, #5D5D5D);
}

.processstepimagecontainer1 {
    padding-top: 23.67%;
}

.processstepimagecontainer2 {
    padding-top: 30.67%;
}

.processstepimagecontainer3 {
    padding-top: 24.67%;
}


@media (max-width: 1200px) {
    .mockup {
        height: 13rem;
    }

    .mockupimagedesktop {
        display: none;
    }
    
    .mockupimagemobile {
        display: flex;
    }    

    .processstepimagecontainer1,
    .processstepimagecontainer2,
    .processstepimagecontainer3  {
        width: 100%;
    }

    .processstepimagecontainer1 {
        padding-top: 54.67%;
    }

    .processstepimagecontainer2 {
        padding-top: 70.67%;
    }

    .processstepimagecontainer3 {
        padding-top: 55.67%;
    }
}